<template>
  <div class="container-fluid">
    <header class="d-flex justify-content-between align-items-center">
      <h1 class="h2">Board</h1>
      <div>
        <div class="btn btn-primary" @click="addProject()">Criar projeto</div>
        <div class="btn btn-success ml-2" @click="saveProjects()">
          <i class="fas fa-save text-white"></i>
        </div>
        <div class="btn btn-danger ml-2" @click="clearProjects()">
          <i class="fas fa-trash text-white"></i>
        </div>
      </div>
      <router-link class="btn btn-primary" to="/">Fechar</router-link>
    </header>

    <div class="row">
      <div
        class="col d-flex flex-column justify-content-center board-column"
        v-for="column in model"
        :key="column.id"
      >
        <p>{{ column.title }}</p>
        <perfect-scrollbar class="column">
          <div v-for="step in column.steps" :key="step.id">
            <p>{{ step.title }}</p>
            <vuedraggable
              class="draggleArea"
              @change="change($event, step.id, column.id)"
              v-model="projects.find(item => item.id == step.id).projects"
              :options="{ group: 'projects' }"
            >
              <div
                class="card"
                v-for="project in projects.find(item => item.id == step.id)
                  .projects"
                :key="project.id"
              >
                <h3 @click="activeProject = project">{{ project.firstname }} {{ project.lastname }}</h3>
                <p>{{ project.date }}</p>
                <img
                  src="@/assets/delete.svg"
                  @click.prevent="
                    deleteItem(
                      projects.find(item => item.id == step.id).projects,
                      project.id
                    )
                  "
                  class="delete"
                  alt
                >
              </div>
            </vuedraggable>
          </div>
        </perfect-scrollbar>
      </div>
    </div>

    <ModalProject
      v-if="activeProject"
      @close="activeProject = null"
      :project="activeProject"
      :model="model"
    />
    <ModalAddProject
      v-if="addProjectModal"
      @create="createProject"
      @close="addProjectModal = false"
      :metadata="metadata"
    />
  </div>
</template>

<script>
import vuedraggable from "vuedraggable";
import moment from "moment";

import ModalProject from "@/components/ModalProject";
import ModalAddProject from "@/components/ModalAddProject";

export default {
  props: ["model", "metadata"],
  data: function() {
    return {
      projects: [],
      activeProject: null,
      addProjectModal: false
    };
  },
  components: {
    vuedraggable,
    ModalProject,
    ModalAddProject
  },
  methods: {
    randId() {
      return parseInt(Math.random() * (99999 - 10000) + 10000);
    },
    addProject: function() {
      this.addProjectModal = true;
    },
    createProject: function(value) {
      this.projects
        .find(item => item.id == this.model[0].steps[0].id)
        .projects.push({
          id: this.randId(),
          ...value,
          date: moment().format("DD/MM/YYYY"),
          logs: [
            {
              id: this.randId(),
              columnId: this.model[0].id,
              stepId: this.model[0].steps[0].id,
              logDate: moment().format("DD/MM/YYYY hh:mm:ss"),
              isDone: false,
              stepModel: this.model
                .find(item => item.id == this.model[0].id)
                .steps.find(item => item.id == this.model[0].steps[0].id)
                .stepActions,
              stepData: {
                sendDate: "",
                sendData: "",
                sendUser: "",
                responseDate: "",
                responseData: "",
                responseUser: ""
              }
            }
          ]
        });
    },
    clearProjects: function() {
      localStorage.removeItem("mockup-projects");
      this.projects = [];
      this.model.forEach(column => {
        column.steps.forEach(step => {
          this.projects.push({
            id: step.id,
            projects: []
          });
        });
      });
    },
    deleteItem: function(array, id) {
      const index = array.findIndex(item => item.id == id);
      array.splice(index, 1);
    },
    saveProjects: function() {
      localStorage.setItem("mockup-projects", JSON.stringify(this.projects));
    },
    change: function(event, stepId, columnId) {
      if (event.added) {
        event.added.element.logs.push({
          id: this.randId(),
          stepId,
          columnId,
          stepModel: this.model
            .find(item => item.id == columnId)
            .steps.find(item => item.id == stepId).stepActions,
          stepData: {
            sendDate: "",
            sendData: "",
            sendUser: "",
            responseDate: "",
            responseData: "",
            responseUser: ""
          },
          isDone: false,
          logDate: moment().format("DD/MM/YYYY hh:mm:ss")
        });
      }
    }
  },
  created() {
    this.model.forEach(column => {
      column.steps.forEach(step => {
        this.projects.push({
          id: step.id,
          projects: []
        });
      });
    });
    if (localStorage.getItem("mockup-projects")) {
      this.projects = JSON.parse(localStorage.getItem("mockup-projects"));
    }
  }
};
</script>

<style lang="scss" scoped>
.board-column {
  height: calc(100vh - 70px);

  .column {
    height: calc(100% - 10px);
    max-height: calc(100% - 10px);
    background: #eee;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > div {
      background: #e0e0e0;
      padding: 10px;
      height: 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
        border-radius: 6px;
      }

      p {
        font-weight: bold;
        color: #999;
      }
    }
  }
}

.card {
  padding: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  margin-top: 12px;

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
  }
  p {
    font-weight: 400 !important;
    font-size: 12px;
  }
  .delete {
    position: absolute;
    top: 6px;
    right: 6px;
  }
}

.draggleArea {
  min-height: 200px;
}
</style>
