<template>
  <div class="project-modal">
    <div class="modal-bg" @click="$emit('close')"></div>

    <perfect-scrollbar class="modal-body" :options="{suppressScrollX: true}">
      <slot></slot>
    </perfect-scrollbar>
  </div>
</template>

<script>
export default {
  props: {}
};
</script>

<style scoped lang="scss">
.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .modal-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
  }

  .modal-body {
    position: relative;
    top: calc(50% - 50px);
    transform: translateY(calc(-50% + 25px));
    width: 900px;
    height: calc(100vh - 60px);
    margin: 25px auto;
    padding: 24px;
    background: #eee;
    border-radius: 12px;
  }
}
</style>
