<template>
  <div>
    <div
      class="form-group mb-0 d-flex item align-items-center justify-content-between form-component"
    >
      <img src="@/assets/handler.svg" class="handle" alt="" />
      <div class="form-group">
        <label class="form-label">Label</label>
        <input
          type="text"
          class="form-control-plaintext bg-white"
          id=""
          v-model="value.label"
        />
        <div class="badge badge-primary mg-r-30">
          {{ value.tag }}[type: {{ value.type }}]
        </div>
      </div>
      <img
        src="@/assets/delete.svg"
        @click.prevent="$emit('deleteItem', value.id)"
        class="delete no-adjust"
        alt=""
      />
    </div>

    <div class="form-row" style="padding: 0 33px 0 25px;">
      <div class="form-group col-6">
        <label for="inputState">Tipo especial</label>
        <select
          id="inputState"
          v-model="value.validation.required"
          class="form-control"
        >
          <option :value="true">True</option>
          <option :value="false">False</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="inputState">Tipo especial</label>
        <select
          id="inputState"
          v-model="value.validation.type"
          class="form-control"
        >
          <option value="">Nenhum em especial</option>
          <option value="url">URL</option>
          <option value="email">Email</option>
          <option value="int">Int</option>
          <option value="float">Float</option>
          <option value="phone">Phone</option>
        </select>
      </div>
    </div>

    <div class="form-row" style="padding: 0 33px 0 25px;">
      <div class="form-group col-6">
        <label for="inputState">Typeof</label>
        <select
          id="inputState"
          v-model="value.validation.typeof"
          class="form-control"
        >
          <option value="any">-</option>
          <option value="String">String</option>
          <option value="Number">Number</option>
          <option value="Array">Array</option>
          <option value="Object">Object</option>
          <option value="Boolean">Boolean</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label for="inputState">Regex de validação</label>
        <input
          type="text"
          class="form-control-plaintext bg-white"
          id=""
          v-model="value.validation.regex"
        />
      </div>
    </div>

    <div class="form-row" style="padding: 0 33px 0 25px;">
      <div class="form-group col-6">
        <label for="inputState">Mínimo de caracteres</label>
        <input
          type="number"
          class="form-control-plaintext bg-white"
          id=""
          v-model="value.validation['min-length']"
        />
      </div>

      <div class="form-group col-6">
        <label for="inputState">Máximo</label>
        <input
          type="number"
          class="form-control-plaintext bg-white"
          id=""
          v-model="value.validation['max-length']"
        />
      </div>
    </div>

    <div class="form-row" style="padding: 0 33px 0 25px;">
      <div class="form-group col-6">
        <label for="inputState">Slug</label>
        <input
          type="text"
          class="form-control-plaintext bg-white"
          id=""
          v-model="value.validation.slug"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["value"],
  data: function() {
    return {
      cvalue: {}
    };
  },
  created() {
    this.cvalue = { ...this.value };
  },
  watch: {
    cvalue: function() {
      this.$emit("input", this.cvalue);
    }
  }
};
</script>
