<template>
  <section :id="`step${log.id}`">
    <label class="title" v-if="hideTitle">
      <span>{{ title(log) }} - {{ log.logDate }}</span>
    </label>

    <div class="log-content" v-if="log.stepData.sendUser != ''">
      <div class="content-who">{{ log.stepData.sendUser }}</div>
      <div class="content-date">{{ log.stepData.sendDate }}</div>
    </div>

    <!-- <pre>{{ log.stepModel }}</pre>
    <pre>{{ stepModel }}</pre>-->
    <div class="content" v-if="activeOrder">
      <div v-if="stepModel && stepModel.actionTarget == 1">
        <button
          class="btn btn-primary"
          @click.prevent="$emit('activate')"
        >{{ stepModel.embeddedAction["action-buttom"] }}</button>
      </div>

      <div v-if="stepModel && stepModel.actionTarget != 1">
        <p>A primeira ação desse passo é do autor. Disparar ação?</p>
        <button class="btn btn-primary">Disparar</button>
      </div>

      <div v-else></div>
    </div>
  </section>
</template>

<script>
export default {
  props: ["log", "model", "activeOrder", "hideTitle"],
  computed: {
    stepModel() {
      return this.log.stepModel && this.log.stepModel[0]
        ? this.log.stepModel[0]
        : null;
    }
  },
  methods: {
    title(log) {
      return this.model
        .find(item => item.id == log.columnId)
        .steps.find(item => item.id == log.stepId).title;
    }
  },
  created() {
    console.log(this.stepModel);
  }
};
</script>

<style lang="scss" scoped>
.title {
  text-align: center;
  width: 100%;
  display: block;

  span {
    font-weight: bold;
    margin: 36px auto 12px !important;
    color: #888;
    font-size: 14px;
    background: #ddd;
    padding: 3px 24px;
    border-radius: 20px;
  }
}

.content > div {
  text-align: center;
}

.log-content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  padding: 12px;
}
</style>
