<template>
  <AppModal @close="$emit('close')">
    <h3>Adicionar projeto</h3>

    <form id="create-project" @submit.prevent="createProject()" action>
      <div class="row">
        <div class="form-group col-6" v-for="formItem in metadata" :key="formItem.id">
          <label for="exampleInputEmail1">
            {{ formItem.label }}
            <span v-if="formItem.validation.required">*</span>
          </label>
          <input
            :type="formItem.type"
            class="form-control"
            :id="`${formItem.id}`"
            :placeholder="formItem.placeholder"
            :required="formItem.validation.required"
          >
          <div class="invalid-feedback">asdasd</div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Criar projeto</button>
      <button class="btn btn-primary ml-2" type="button" @click.prevent="populate()">Popular dados</button>
    </form>
  </AppModal>
</template>

<script>
import faker from "faker/locale/pt_BR";
import AppModal from "@/components/AppModal";

export default {
  components: {
    AppModal
  },
  props: {
    metadata: Array
  },
  data: function() {
    return {
      errors: []
    };
  },
  methods: {
    createProject() {
      const targetDiv = document.getElementById("create-project");
      const formItems = targetDiv.getElementsByClassName("form-control");
      var i;
      const data = {};
      for (i = 0; i < formItems.length; i++) {
        const elId = formItems[i].id;
        const slug = this.metadata.find(item => item.id == elId).validation
          .slug;
        data[slug] = formItems[i].value;
      }
      this.$emit("create", data);
      this.$emit("close");
    },

    populate() {
      const targetDiv = document.getElementById("create-project");
      const formItems = targetDiv.getElementsByClassName("form-control");
      var i;
      for (i = 0; i < formItems.length; i++) {
        const elId = formItems[i].id;
        const slug = this.metadata.find(item => item.id == elId).validation
          .slug;
        const consts = {
          firstname: faker.name.firstName(),
          lastname: faker.name.lastName(),
          phone: faker.phone.phoneNumber(),
          email: faker.internet.email(),
          docid: parseInt(Math.random() * (99999 - 10000) + 10000)
        };
        formItems[i].value = consts[slug];
      }
    }
  }
};
</script>

<style scoped lang="scss"></style>
