<template>
  <AppModal class="projectModal" @close="$emit('close')">
    <header class="header">
      <h3>
        <span>{{ project.lastname }}</span>
        , {{ project.firstname }}
      </h3>
      <button v-if="activate" class="btn btn-danger" @click.prevent="activate = false">Voltar</button>
    </header>

    <div class="projectArea" :class="{ activated: activate }">
      <!-- <pre>{{ model }}</pre> -->
      <perfect-scrollbar class="projectArea-view timeline" :options="{ suppressScrollX: true }">
        <section class="metadata">
          <p class="title">
            <span>Entrada do projeto - {{ project.date }}</span>
          </p>
          <div class="row pt-4 pb-4">
            <div class="col-6">
              <h5>Autoria</h5>
              <p>Autoria: {{ project.lastname }}, {{ project.firstname }}</p>
              <p>Email: {{ project.email }}</p>
              <p>Telefone: {{ project.phone }}</p>
            </div>
            <div class="col-6">
              <h5>Obra</h5>
              <p>Título: {{ project.title }}</p>
              <p>Subtítulo: {{ project.area }}</p>
            </div>
          </div>
        </section>

        <LogStep
          v-for="(log, index) in project.logs"
          :key="log.id"
          :log="log"
          :model="model"
          :activeOrder="project.logs.length == index + 1"
          :hideTitle="hasTitle(index)"
          @activate="activate = true"
        />
      </perfect-scrollbar>

      <perfect-scrollbar class="projectArea-view action" :options="{ suppressScrollX: true }">
        <ModelConfirmation
          :step="project.logs[project.logs.length - 1]"
          :model="model"
          :metadata="project"
          @dispatch="addToLog"
        />
      </perfect-scrollbar>
    </div>
  </AppModal>
</template>

<script>
import moment from "moment";
import LogStep from "@/components/LogStep";
import AppModal from "@/components/AppModal";

import ModelConfirmation from "@/components/Model-Confirmation";

export default {
  components: {
    AppModal,
    LogStep,
    ModelConfirmation
  },
  props: {
    project: Object,
    model: Array
  },
  data: function() {
    return {
      activate: false
    };
  },
  methods: {
    randId() {
      return parseInt(Math.random() * (99999 - 10000) + 10000);
    },
    hasTitle(index) {
      console.log(this.project.logs[index]);
      console.log(this.project.logs[index - 1]);
      if (
        this.project.logs[index - 1] &&
        this.project.logs[index].stepId == this.project.logs[index - 1].stepId
      ) {
        return false;
      } else {
        return true;
      }
    },
    addToLog: function(value) {
      const currentLog = this.project.logs[this.project.logs.length - 1];

      if (currentLog.stepData.sendDate == "") {
        currentLog.stepData.sendDate = moment().format("DD/MM/YYYY");
        currentLog.stepData.sendData = value;
        currentLog.stepData.sendUser = "Eduardo Camillo";
      } else {
        this.project.logs.push({
          id: this.randId(),
          stepId: currentLog.stepId,
          columnId: currentLog.columnId,
          stepModel: this.model
            .find(item => item.id == currentLog.columnId)
            .steps.find(item => item.id == currentLog.stepId).stepActions,
          stepData: {
            sendDate: moment().format("YYYY/MM/DD"),
            sendData: value,
            sendUser: "Eduardo Camillo",
            responseDate: "",
            responseData: "",
            responseUser: ""
          },
          isDone: false,
          logDate: moment().format("DD/MM/YYYY hh:mm:ss")
        });
      }
      this.activate = false;
    }
  }
};
</script>

<style lang="scss">
.projectModal {
  header.header {
    padding: 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;

    h3 span {
      text-transform: uppercase;
    }
  }
}

.projectModal .modal-body {
  padding: 0 !important;
}
.projectArea {
  width: calc(200% + 40px);
  display: flex;
  justify-content: space-between;

  &.activated > .projectArea-view {
    transform: translateX(calc(-100% - 40px));
  }
}

.projectArea-view {
  width: calc(50% - 20px);
  height: calc(100vh - 150px);
  overflow-x: hidden;
  transition: transform 0.5s;
  padding: 0;

  &.timeline {
    padding: 24px 24px 60px 24px;
  }
}
</style>
