<template>
  <div class="model-confirmation">
    <h3>{{ title() }}</h3>

    <vue-editor class="textarea" v-model="content"></vue-editor>

    <button
      @click="$emit('dispatch', content)"
      class="btn btn-primary"
    >{{ deliveryName }} {{ outputName }}</button>

    <br>
    <br>
    <p v-if="step.stepModel[0].embeddedAction.delivery == 1">
      O orçamento será enviado para
      <strong>{{ metadata.email }}</strong>
    </p>

    <pre>{{ step }}</pre>
    <pre>{{ model }}</pre>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
import moment from "moment";

export default {
  props: ["step", "model", "metadata"],
  components: { VueEditor },
  data: function() {
    return {
      content: ""
    };
  },
  computed: {
    deliveryName() {
      const outputLabel = [
        "Enviar email com",
        "Enviar link do Dashboard com ",
        "Fazer Download do"
      ];
      const output = this.step.stepModel[0].embeddedAction.delivery;
      return outputLabel[output - 1];
    },
    outputName() {
      const outputLabel = ["Texto", "PDF", "Word"];
      const output = this.step.stepModel[0].embeddedAction.output;
      return outputLabel[output - 1];
    }
  },
  methods: {
    title() {
      return this.model
        .find(item => item.id == this.step.columnId)
        .steps.find(item => item.id == this.step.stepId).title;
    },
    randId() {
      return parseInt(Math.random() * (99999 - 10000) + 10000);
    }
  },
  created() {
    let dataModel = this.step.stepModel[0].embeddedAction["data-model"];
    let dataFinal = dataModel;
    dataModel.match(/%(.*?)%/g).forEach(item => {
      const original = item;
      const toReplace = item
        .toLowerCase()
        .replace(/%/g, "")
        .replace("metadata.", "")
        .trim();
      dataFinal = dataFinal.replace(original, this.metadata[toReplace]);
    });
    this.content = dataFinal;
  }
};
</script>

<style lang="scss" scoped>
.model-confirmation {
  background: #fff;
  padding: 24px 24px 60px 24px;
}

.textarea {
  height: 45vh;
  margin: 20px 0 70px;
}
</style>
