<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky pt-3 pb-2 border-bottom">
            <h1 class="h2">Actions</h1>
            <vuedraggable
              v-model="actions"
              :clone="clone"
              :options="{
                group: { name: 'actions', pull: 'clone', put: false },
                handle: '.handle'
              }"
            >
              <div class="actions" v-for="action in actions" :key="action.id">
                <div class="d-flex align-items-center">
                  <img src="@/assets/handler.svg" class="handle" alt>
                  <p>{{ action.type }}</p>
                </div>
              </div>
            </vuedraggable>
          </div>

          <div class="sidebar-sticky pt-3 pb-2 border-bottom">
            <h1 class="h2">Components</h1>
            <vuedraggable
              v-model="components"
              :clone="clone"
              :options="{
                group: { name: 'components', pull: 'clone', put: false },
                handle: '.handle'
              }"
            >
              <div class="component-list" v-for="component in components" :key="component.id">
                <div class="d-flex align-items-center">
                  <img src="@/assets/handler.svg" class="handle" alt>
                  <div>
                    <p>{{ component.title }}</p>
                    <div class="w-100"></div>
                    <div class="badge badge-primary">{{ component.tag }}[type: {{ component.type }}]</div>
                  </div>
                </div>
              </div>
            </vuedraggable>
          </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom"
          >
            <h1 class="h2">Model</h1>

            <div>
              <div class="btn btn-primary" @click="addphase()">Adicionar Fase</div>
              <div class="btn btn-info ml-2" @click="configMetadata = true">
                <i class="fas fa-cog text-white"></i>
              </div>
              <div class="btn btn-success ml-2" @click="saveModel()">
                <i class="fas fa-save text-white"></i>
              </div>
              <div class="btn btn-danger ml-2" @click="clearModel()">
                <i class="fas fa-trash text-white"></i>
              </div>
            </div>
          </div>
          <perfect-scrollbar class="scrollArea pt-3">
            <vuedraggable v-model="model" :options="{ handle: '.handle' }">
              <div v-for="phase in model" :key="phase.id" class="phase">
                <div class="form-group mb-2 d-flex">
                  <img src="@/assets/handler.svg" class="handle" alt>
                  <span style="padding: 15px 6px 0 0; display: block;">Fase:</span>
                  <input
                    type="text"
                    class="form-control-plaintext phase-title"
                    id="phaseTitle"
                    v-model="phase.title"
                  >
                  <img
                    src="@/assets/delete.svg"
                    @click.prevent="deleteItem(model, phase.id)"
                    class="delete"
                    alt
                  >
                </div>

                <vuedraggable
                  v-model="phase.steps"
                  :options="{ group: 'steps', handle: '.handle' }"
                >
                  <div class="step" v-for="step in phase.steps" :key="`steps-${step.id}`">
                    <div class="form-group mb-2 d-flex item">
                      <img src="@/assets/handler.svg" class="handle" alt>
                      <span style="padding: 10px 6px 0 0; display: block;">Passo:</span>
                      <input
                        type="text"
                        class="form-control-plaintext"
                        id="phaseTitle"
                        v-model="step.title"
                      >
                      <img
                        src="@/assets/delete.svg"
                        @click.prevent="deleteItem(phase.steps, step.id)"
                        class="delete"
                        alt
                      >
                    </div>

                    <vuedraggable
                      v-model="step.stepActions"
                      class="components"
                      :options="{ group: 'actions', handle: '.handle' }"
                    >
                      <div class="component" v-for="action in step.stepActions" :key="action.id">
                        <div
                          class="form-group mb-2 d-flex item align-items-center justify-content-between"
                        >
                          <img src="@/assets/handler.svg" class="handle" alt>
                          <p class="w-100">
                            <strong>{{ action.type }}</strong>
                          </p>
                          <img
                            src="@/assets/delete.svg"
                            @click.prevent="
                              deleteItem(step.stepActions, action.id)
                            "
                            class="delete no-adjust"
                            alt
                          >
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <header
                              class="p-2 d-flex mb-1 justify-content-between align-items-center bg-primary text-white rounded"
                            >
                              <p class="ml-2 mt-1">
                                <strong>Action</strong>
                              </p>
                              <div class="form-group mb-0 mr-4">
                                <select class="custom-select" v-model="action.actionTarget">
                                  <option
                                    :value="target.id"
                                    v-for="target in targets"
                                    :key="target.id"
                                  >{{ target.type }}</option>
                                </select>
                              </div>
                            </header>
                            <div
                              class="singleAction"
                              v-for="singleAction in action.actionProps"
                              :key="singleAction.id"
                            >
                              <p>
                                Prop:
                                <strong>{{ singleAction }}</strong>
                              </p>
                              <!-- se a action é do tipo FORM -->
                              <vuedraggable
                                v-if="singleAction == 'form'"
                                v-model="action.embeddedAction[singleAction]"
                                class="components"
                                @add="onAdd"
                                :options="{
                                  group: 'components',
                                  handle: '.handle'
                                }"
                              >
                                <div
                                  class="component"
                                  v-for="component in action.embeddedAction[
                                    singleAction
                                  ]"
                                  :key="component.id"
                                >
                                  <div
                                    class="form-group mb-0 d-flex item align-items-center justify-content-between form-component"
                                  >
                                    <img src="@/assets/handler.svg" class="handle" alt>
                                    <div class="form-group">
                                      <label class="form-label">Label</label>
                                      <input
                                        type="text"
                                        class="form-control-plaintext bg-white"
                                        id
                                        v-model="component.label"
                                      >
                                      <div class="badge badge-primary mg-r-30">
                                        {{ component.tag }}[type:
                                        {{ component.type }}]
                                      </div>
                                    </div>
                                    <img
                                      src="@/assets/delete.svg"
                                      @click.prevent="
                                        deleteItem(
                                          action.embeddedAction[singleAction],
                                          component.id
                                        )
                                      "
                                      class="delete no-adjust"
                                      alt
                                    >
                                  </div>
                                </div>
                              </vuedraggable>

                              <!-- se a action é do tipo actionButton -->
                              <div v-if="singleAction == 'action-buttom'" class="form-group">
                                <label class="form-label">Action Button</label>
                                <input
                                  type="text"
                                  class="form-control-plaintext bg-white"
                                  id
                                  v-model="
                                    action.embeddedAction['action-buttom']
                                  "
                                >
                              </div>

                              <!-- se a action é do tipo INTRODUCTION-TEXT -->
                              <div v-if="singleAction == 'introduction-text'" class="form-group">
                                <label class="form-label">Email introduction text</label>
                                <vue-editor
                                  class="form-control"
                                  v-model="
                                    action.embeddedAction['introduction-text']
                                  "
                                ></vue-editor>
                              </div>

                              <!-- se a action é do tipo ACTION -->
                              <div v-if="singleAction == 'action'" class="form-group">
                                <label class="form-label">URL</label>
                                <input
                                  type="text"
                                  class="form-control-plaintext bg-white"
                                  id
                                  v-model="action.embeddedAction.action"
                                >
                              </div>

                              <!-- se a action é do tipo DATA-MODEL -->
                              <div v-if="singleAction == 'data-model'" class="form-group">
                                <label class="form-label">Texto padrão</label>
                                <vue-editor
                                  class="form-control"
                                  v-model="action.embeddedAction['data-model']"
                                ></vue-editor>
                              </div>

                              <!-- se a action é do tipo OUTPUT -->
                              <div v-if="singleAction == 'output'" class="form-group">
                                <label class="form-label">Tipo de output</label>
                                <select
                                  class="custom-select"
                                  v-model="action.embeddedAction['output']"
                                >
                                  <option value="1">Corpo do email</option>
                                  <option value="2">PDF</option>
                                  <option value="3">Word</option>
                                </select>
                              </div>

                              <!-- se a action é do tipo OUTPUT -->
                              <div v-if="singleAction == 'delivery'" class="form-group">
                                <label class="form-label">Envio do output</label>
                                <select
                                  class="custom-select"
                                  v-model="action.embeddedAction['delivery']"
                                >
                                  <option value="1">Email</option>
                                  <option value="2">Dashboard</option>
                                  <option value="3">Download simples</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <header
                              class="p-2 d-flex mb-1 justify-content-between align-items-center bg-info text-white rounded"
                            >
                              <p class="ml-2 mt-1">
                                <strong>Reaction</strong>
                              </p>
                              <div class="form-group mb-0 mr-4">
                                <select class="custom-select" v-model="action.reactionTarget">
                                  <option
                                    :value="target.id"
                                    v-for="target in targets"
                                    :key="target.id"
                                  >{{ target.type }}</option>
                                </select>
                              </div>
                            </header>

                            <div
                              class="singleAction"
                              v-for="singleReaction in action.reactionProps"
                              :key="singleReaction.id"
                            >
                              <p>
                                Prop:
                                <strong>{{ singleReaction }}</strong>
                              </p>

                              <!-- se a action é do tipo FORM -->
                              <vuedraggable
                                v-if="singleReaction == 'form'"
                                v-model="
                                  action.embeddedReaction[singleReaction]
                                "
                                class="components"
                                @add="onAdd"
                                :options="{
                                  group: 'components',
                                  handle: '.handle'
                                }"
                              >
                                <div
                                  class="component"
                                  v-for="component in action.embeddedReaction[
                                    singleReaction
                                  ]"
                                  :key="component.id"
                                >
                                  <div
                                    class="form-group mb-0 d-flex item align-items-center justify-content-between form-component"
                                  >
                                    <img src="@/assets/handler.svg" class="handle" alt>
                                    <div class="form-group">
                                      <label class="form-label">Label</label>
                                      <input
                                        type="text"
                                        class="form-control-plaintext bg-white"
                                        id
                                        v-model="component.label"
                                      >
                                      <div class="badge badge-primary mg-r-30">
                                        {{ component.tag }}[type:
                                        {{ component.type }}]
                                      </div>
                                    </div>
                                    <img
                                      src="@/assets/delete.svg"
                                      @click.prevent="
                                        deleteItem(
                                          action.embeddedReaction[
                                            singleReaction
                                          ],
                                          component.id
                                        )
                                      "
                                      class="delete no-adjust"
                                      alt
                                    >
                                  </div>
                                </div>
                              </vuedraggable>

                              <!-- se a action é do tipo actionButton -->
                              <div v-if="singleReaction == 'action-buttom'" class="form-group">
                                <label class="form-label">Action Button</label>
                                <input
                                  type="text"
                                  class="form-control-plaintext bg-white"
                                  id
                                  v-model="
                                    action.embeddedReaction['action-buttom']
                                  "
                                >
                              </div>

                              <!-- se a action é do tipo INTRODUCTION-TEXT -->
                              <div v-if="singleReaction == 'introduction-text'" class="form-group">
                                <label class="form-label">Email introduction text</label>
                                <vue-editor
                                  class="form-control"
                                  v-model="
                                    action.embeddedReaction['introduction-text']
                                  "
                                ></vue-editor>
                              </div>

                              <!-- se a action é do tipo ACTION -->
                              <div v-if="singleReaction == 'action'" class="form-group">
                                <label class="form-label">URL</label>
                                <input
                                  type="text"
                                  class="form-control-plaintext bg-white"
                                  id
                                  v-model="action.embeddedReaction.action"
                                >
                              </div>

                              <!-- se a action é do tipo DATA-MODEL -->
                              <div v-if="singleReaction == 'data-model'" class="form-group">
                                <label class="form-label">Texto padrão</label>
                                <vue-editor
                                  class="form-control"
                                  v-model="
                                    action.embeddedReaction['data-model']
                                  "
                                ></vue-editor>
                              </div>

                              <!-- se a action é do tipo OUTPUT -->
                              <div v-if="singleReaction == 'output'" class="form-group">
                                <label class="form-label">Tipo de output</label>
                                <select
                                  class="custom-select"
                                  v-model="action.embeddedReaction['output']"
                                >
                                  <option value="1">Corpo do email</option>
                                  <option value="2">PDF</option>
                                  <option value="3">Word</option>
                                </select>
                              </div>

                              <!-- se a action é do tipo OUTPUT -->
                              <div v-if="singleReaction == 'delivery'" class="form-group">
                                <label class="form-label">Envio do output</label>
                                <select
                                  class="custom-select"
                                  v-model="action.embeddedReaction['delivery']"
                                >
                                  <option value="1">Email</option>
                                  <option value="2">Dashboard</option>
                                  <option value="3">Download simples</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </vuedraggable>
                  </div>
                </vuedraggable>
                <div class="btn btn-primary" @click="addStep(phase.steps)">Adicionar Passo</div>
              </div>
            </vuedraggable>
          </perfect-scrollbar>
        </main>

        <aside v-if="showAside" class="col-md-5 code">
          <perfect-scrollbar class="scrollAreaCode">
            <json-viewer
              :value="model"
              :copyable="true"
              theme="darkview"
              :expand-depth="10"
              :boxed="false"
            ></json-viewer>
          </perfect-scrollbar>
        </aside>

        <AppModal v-if="configMetadata" @close="configMetadata = false" class="metadata-modal">
          <div class="row">
            <div class="col-4">
              <h3>Configurar metadata</h3>

              <vuedraggable
                v-model="components"
                :clone="clone"
                :options="{
                  group: { name: 'metadata', pull: 'clone', put: false },
                  handle: '.handle'
                }"
              >
                <div class="component-list" v-for="component in components" :key="component.id">
                  <div class="d-flex align-items-center">
                    <img src="@/assets/handler.svg" class="handle" alt>
                    <div>
                      <p>{{ component.title }}</p>
                      <div class="w-100"></div>
                      <div
                        class="badge badge-primary"
                      >{{ component.tag }}[type: {{ component.type }}]</div>
                    </div>
                  </div>
                </div>
              </vuedraggable>
            </div>

            <perfect-scrollbar class="col-8 metadata-customize">
              <vuedraggable
                v-model="metadata"
                class="components"
                :options="{ group: 'metadata', handle: '.handle' }"
              >
                <div class="component mb-4" v-for="component in metadata" :key="component.id">
                  <FormItem
                    :value="component"
                    @input="component = $event"
                    @deleteItem="deleteItem(metadata, $event)"
                  />
                </div>
              </vuedraggable>
            </perfect-scrollbar>
          </div>
        </AppModal>

        <router-link to="/boards" class="board-tab">Mostrar Boards</router-link>
        <div class="code-tab" @click="showAside = !showAside">Mostrar Model</div>

        <transition name="board">
          <Boards v-if="board" :model="model" :metadata="metadata" class="board-drawer"/>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import JsonViewer from "vue-json-viewer";
import vuedraggable from "vuedraggable";
import Boards from "@/views/Board";
import AppModal from "@/components/AppModal";
import FormItem from "@/components/FormItem";
import * as database from "@/database/database.js";
import { VueEditor } from "vue2-editor";

export default {
  components: {
    JsonViewer,
    vuedraggable,
    Boards,
    AppModal,
    FormItem,
    VueEditor
  },
  data: function() {
    return {
      actions: [],
      targets: [],
      components: [],
      model: [],
      configMetadata: false,
      showAside: false,
      metadata: []
    };
  },
  computed: {
    board() {
      return this.$route.name == "boards";
    }
  },
  methods: {
    addphase() {
      this.model.push({
        id: this.randId(),
        title: "Titulo da fase",
        steps: []
      });
    },
    addStep(step) {
      step.push({
        id: this.randId(),
        title: "Titulo do passo",
        type: "input",
        stepActions: []
      });
    },
    randId() {
      return parseInt(Math.random() * (99999 - 10000) + 10000);
    },
    clone: function(el) {
      console.log(el);
      return {
        ...el,
        id: this.randId()
      };
    },
    deleteItem: function(array, id) {
      const index = array.findIndex(item => item.id == id);
      array.splice(index, 1);
    },
    clearModel: function() {
      localStorage.removeItem("mockup-model");
      localStorage.removeItem("mockup-metadata");
      localStorage.removeItem("mockup-projects");
      this.model = [];
    },
    saveModel: function() {
      localStorage.setItem("mockup-model", JSON.stringify(this.model));
      localStorage.setItem("mockup-metadata", JSON.stringify(this.metadata));
    },
    onAdd: function() {}
  },
  created() {
    this.actions = database.actions;
    this.components = database.components;
    this.targets = database.targets;

    if (localStorage.getItem("mockup-model")) {
      this.model = JSON.parse(localStorage.getItem("mockup-model"));
      this.components.forEach(item => {
        item.id = this.randId();
      });
    }

    if (localStorage.getItem("mockup-metadata")) {
      this.metadata = JSON.parse(localStorage.getItem("mockup-metadata"));
    }
  },
  watch: {}
};
</script>

<style lang="scss">
@import "src/assets/perfectscroll.scss";

p {
  margin: 0 !important;
}
.phase {
  background: #eee;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.step {
  padding: 10px;
  background: #e5e5e5;
  border-radius: 6px;
  margin-bottom: 10px;
}

.handle {
  width: 15px;
  height: 40px;
  margin: 6px 6px 0 0;
  &:hover {
    cursor: move;
  }
}

input {
  &.phase-title {
    font-size: 24px;
    font-weight: 800;
  }
}

.singleAction {
  background-color: #ccc;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 6px;

  strong {
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
  }

  .components {
    background: #c0c0c0;
  }
}

.metadata-customize {
  height: calc(100vh - 60px);
  overflow: auto;
}
.metadata-modal .modal-body {
  padding: 0 !important;

  .col-4 {
    padding: 12px 0 12px 36px !important;
  }
}

.components {
  padding: 18px;

  .component {
    background: #d5d5d5;
    padding: 12px 3px 12px 12px;
    border-radius: 6px;
    margin-bottom: 6px;
  }
}

.board-tab,
.code-tab {
  position: fixed;
  bottom: 0;
  left: 30px;
  background: #ccc;
  color: #151515;
  padding: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  &:hover {
    background: #bbb;
  }
}

.code-tab {
  left: 165px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #007bff;
  }
}

.board-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  z-index: 10;
  background: #fff;
}

.scrollArea {
  height: calc(100vh - 88px);
  overflow: auto;
}

.scrollAreaCode {
  height: calc(100vh - 20px);
  overflow: auto;
}

.component-list {
  margin: 15px 0;
}

.delete {
  width: 15px;
  height: 15px;
  position: relative;
  top: 10px;
  right: 10px;

  &.no-adjust {
    right: 10px;
    top: 0;
  }
}

.form-component {
  .form-group {
    width: calc(100% - 60px);
    display: flex;
    margin-bottom: 0;
    background: #fff;
    border-radius: 3px;
    align-items: center;
    padding: 3px 6px;
    position: relative;
    left: -6px;

    label {
      margin: 0;
      color: #aaa;
    }

    input {
      background: none;
      border: none;
      outline: none;
      padding: 6px 12px;
      font-weight: bold;
    }
  }
}

.code {
  background: #222;
  min-height: 100vh;
  position: fixed !important;
  top: 0;
  right: 0;
  user-select: none;
}
.darkview {
  background: #222;
  white-space: nowrap;
  color: #525252;
  font-size: 14px;
  font-family: Consolas, Menlo, Courier, monospace;

  .jv-ellipsis {
    color: #999;
    background-color: #eee;
    display: inline-block;
    line-height: 0.9;
    font-size: 0.9em;
    padding: 0px 4px 2px 4px;
    border-radius: 3px;
    vertical-align: 2px;
    cursor: pointer;
    user-select: none;
  }
  .jv-button {
    color: #49b3ff;
  }
  .jv-key {
    color: #fff;
  }
  .jv-item {
    &.jv-array {
      color: #fff;
    }
    &.jv-boolean {
      color: #fc1e70;
    }
    &.jv-function {
      color: #067bca;
    }
    &.jv-number {
      color: #fc1e70;
    }
    &.jv-object {
      color: #fff;
    }
    &.jv-undefined {
      color: #e08331;
    }
    &.jv-string {
      color: #42b983;
      word-break: break-word;
      white-space: normal;
    }
  }
  .jv-code {
    min-height: 100%;
    height: inherit !important;
    max-height: initial !important;

    .jv-toggle {
      &:before {
        padding: 0px 2px;
        border-radius: 2px;
      }
      &:hover {
        &:before {
          background: #eee;
        }
      }
    }
  }
}
.jv-more {
  display: none !important;
}

.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}

.board-leave-active,
.board-enter-active {
  transition: transform 0.5s, opacity 0.25s ease;
}

.board-enter,
.board-leave-to {
  transform: translateY(100vh);
  opacity: 0;
}
</style>

<style>
.quillWrapper.form-control {
  height: auto;
}
</style>
